<h1> Sign up Here!</h1>
<form action="/signup" method="POST">
<label>Username:</label>
<input type="text" name="user[username]" required>
<br>
<label>Email:</label>
<input type="email" name="user[email]" required>
<br>
<label>Password:</label>
<input type="password" name="user[password]">
<br>


<input type="submit" value="Sign Up!">


</form>