<h1>The current user is
  <%= @user.username%>
  </h1>
  <p>Keep track of shoes you like</p>

  <h2><a href="/shoes">Shoes collection</a></h2> 
  <h2><a href="/shoes/new">Add a new shoes</a></h2>
  <p><a href="/logout">logout</a></p>
 