<h1>Shoes collection:</h1>

<% @shoes.each_with_index do |shoe, index| %>
  <a href="/shoes/<%= shoe.id %>"><%= "#{index + 1}. " + shoe.category  %></a>
  <br />
<% end %>
<br />
<p><a href="/logout">logout</a></p>