<h1>Add A New Shoes To Shoes app</h1>

<form action="/shoes" method="post">
Category:
  <input type="text" name="shoe[category]">
  <br>
  <br>
Size:
  <input type="text" name="shoe[size]">
  <br />
  <br />
Brand:
<input type="text" name="shoe[brand]">
<br />
  <br />

  <input type="submit" value="Make A Shoe!">
</form>